<!DOCTYPE html>
<html>
  <head>
    <title>Fiveapples demo app</title>
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
  
    <script id="sap-ui-bootstrap" 
      type="text/javascript"
      src="<%= @resources %>"
      data-sap-ui-theme="sap_bluecrystal"
      data-sap-ui-libs="sap.m"
      data-sap-ui-bindingSyntax="complex"
      data-sap-ui-compatVersion="edge"
      data-sap-ui-async="true"
      data-sap-ui-resourceroots='{"fivea": "./"}'       >
    </script>
  
        <script>
           sap.ui.getCore().attachInit( function () {
             new sap.m.Shell({
                 app : new sap.ui.core.ComponentContainer({
                     name : "fivea",
                     height : "100%"  })
              }).placeAt("content");
           });
        </script>
  
  </head>
  <body class="sapUiBody" id="content" ></body>
</html>
