sap.ui.define(
  [
    "sap/ui/core/UIComponent",
    "sap/ui/model/odata/ODataModel",
    "sap/ui/model/resource/ResourceModel"
  ],
  function(UIComponent, ODataModel, ResourceModel) {
    "use strict";
    return UIComponent.extend("fivea.Component", {
      metadata: { manifest: "json" },
      id: "fivea.Component",
      name: "fivea.Component",

      init: function() {
        // call the init function of the parent
        UIComponent.prototype.init.apply(this, arguments);

        // set OData model

        var mParameters = new Map();
        mParameters.json = true;
        mParameters.tokenHandling = true;

        mParameters.useBatch = false;
        mParameters.defaultBindingMode = "OneWay";

        mParameters.serviceUrl = "http://<%= @host %>:9494/odata";
        var oModel = new sap.ui.model.odata.v2.ODataModel(mParameters);
        oModel.setTokenHandlingEnabled(true);

        this.setModel(oModel);

        // set i18n model
        var i18nModel = new ResourceModel({ bundleName: "fivea.i18n.i18n" });

        this.setModel(i18nModel, "i18n");

        // create the views based on the url/hash
        this.getRouter().initialize();
      }
    });
  }
);
